{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/stylesheet.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <a href="/" class="logo">Махазин</a>
</div>
<div id="subheader">
    <div class="cart">
    {% with total_items=cart|length %}
        {% if cart|length > 0 %}
            Ваша корзина:
            <a href="{% url "cart:cart_detail" %}">
                {{ total_items }} item{{ total_items|pluralize }},
                ${{ cart.get_total_price }}
            </a>
        {% else %}
            Ваша корзина пуста
        {% endif %}
    {% endwith %}
    </div>
    <div>
        <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Найти...">
        </form>
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>